{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
<link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
{% endblock %}

{% block content %}
    <p class="space_three"></p>
      <div class="starter-template">
        <h1><strong>Azania</strong></h1>
        <p class="lead"><strong>Our goal is to provide faster and more effeccient ways of moving money</strong></p>
        <p class="lead"><strong></strong></p>
        <form action="{{ url_for('signup') }}">
        <center><button class="wide_orange_button"><strong>Register</strong></button></center>
        </form>

        <center><form action="{{ url_for('login') }}">
          <button class="wide_blue_button"><strong>Login</strong></button>
          </form>
      </div></center>
            
    </div><!-- /.container -->
{% endblock %}