<!doctype html>
<html lang="en">
  
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jabuu.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
  <form method="post" action="/" enctype="multipart/form-data">
  <body>
    
    <h1>Jabuu.</h1>
    <div class="card" style="width: 25rem;">
      
      {% for i in data %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{i['icon_url']}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">  
              <div class="card-body">
                <h5 class="card-title">{{i["name"]}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Pick-up {{i["pick_location"]}}</h6>
                <p class="card-text">Destination {{i["destination"]}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      
    </div>  
    <div>

    </div>
  </p>

  <p>
      <input type="file" name="file" class="form-control" autocomplete="off" required>
      
  </p>
  
</dl>
<p>
  <input type="submit" value="Submit" class="btn btn-info">
</p>
<p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</p>
  </body>
  </form>
</html>