

body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #E1E1E1;
  font-family: 'Antic';font-size: 22px;
  
}

.picture-card {
  width: 350px;
  box-shadow: 0 4px 8px 0 rgb(187, 187, 187);
  text-align: left;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0.5cm;
  background-color: white;
  color: #AFB0B1;
}

.orangedot {
  height: 15px;
  width: 15px;
  background-color: #EDAD00;
  border-radius: 50%;
  display: inline-block;
}

.space_three {
  margin-bottom: 10mm;
}

.graydot {
  height: 15px;
  width: 15px;
  background-color: #AFB0B1;
  border-radius: 50%;
  display: inline-block;
}

.form-signin {
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
  background: #ffffff;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.button {
  background-color: #E4D2A2;
  border: none; 
  color: #EDAD00;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.wide_orange_button{
  background-color: #E4D2A2;
  border: none; 
  color: #EDAD00;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  width: 350px;
}
.wide_blue_button{
  background-color: #8DADE8;
  border: none; 
  color: #266EF1;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  width: 350px;
}